# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
env/
.venv/
venv/
ENV/
env.bak/
venv.bak/

output_images/
#test files
run.sh
# Environment variables file
.env

# Test files
.sh

# Package directories
pip-log.txt
pip-delete-this-directory.txt
*.egg-info/
.eggs/
dist/
build/

.pytest_cache/
.coverage
*.pyc

# Caches
*.cache
*.log
*.tmp

# PyInstaller
*.spec

# Unit test / coverage reports
.coverage
.coverage.*
.cache
.pytest_cache/
nose2-report.xml
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code
.vscode/
